@import "tailwindcss";

:root {
  --surface: #f7f9fb;
  --surface-dim: #d8dadc;
  --surface-bright: #f7f9fb;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f2f4f6;
  --surface-container: #eceef0;
  --surface-container-high: #e6e8ea;
  --surface-container-highest: #e0e3e5;
  --on-surface: #191c1e;
  --on-surface-variant: #424754;
  --outline: #727785;
  --outline-variant: #c2c6d6;
  --primary: #0058be;
  --on-primary: #ffffff;
  --primary-container: #2170e4;
  --secondary: #505f76;
  --tertiary: #00628d;
  --tertiary-container: #007cb1;
}

body {
  margin: 0;
  color: var(--on-surface);
  background: var(--surface);
}
